body {
    margin: 0;
}

.ticker-tile-grid {
    display: flex;
    flex-direction: row;
    min-width: 100vh;
    overflow-x:scroll;
}

.ticker-tile-grid::-webkit-scrollbar {
    display: none;
 }

.ticker-tile-leading-container {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    background-color: #202121;
    color: #F7F7FF;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    justify-content: space-evenly;

}

.ticker-tile-leading-container > div:first-child {
    border-bottom: 1px solid #8C8C90;
}

.ticker-tile-leading-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.ticker-tile-leading-container .img-container {
    height: 25px;
    width: 25px;

    display: flex !important;
    display: inline-block;
    padding-right: 10px;
}

.ticker-tile-leading-container .img-container img {
    height: 100%;
}

.ticker-tile-leading-container div svg {
    fill: #F7F7FF;
    height: 16px;
    padding-left: 5px;
}

.ticker-tile-container {
    color: #F7F7FF;
    font-family: sans-serif;
    font-weight: 600;

    padding: 15px;
    background-color: #202121;
    height: 100px;
    min-width: 150px;

    display: flex;
    flex-direction: column;
    border-left: 1px solid #8C8C90;
}

.ticker-tile-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ticker-tile-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.ticker-tile-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticker-tile-side div {
    display: flex;
    align-items: center;
}

.ticker-tile-side .img-container {
    height: 25px;
    width: 25px;
    display: flex !important;
    justify-content: center;
    padding-right: 10px;
}

.ticker-tile-side .img-container > * {
    height: 100%;
}

.small {
    font-size: small;
}

.grey {
    color: #8C8C90;
}